[**Crypto Cyber Survivors API Documentation v1.0.0**](../../../../README.md)

***

[Crypto Cyber Survivors API Documentation](../../../../modules.md) / [services/verification/VerificationQueue](../README.md) / VerificationResult

# Interface: VerificationResult

Defined in: [services/verification/VerificationQueue.ts:41](https://github.com/blntunlan/crypto-cyber-survivors/blob/8ef40473c7e108892df692695bac752633d4aed4/services/verification/VerificationQueue.ts#L41)

## Properties

### verified

> **verified**: `boolean`

Defined in: [services/verification/VerificationQueue.ts:42](https://github.com/blntunlan/crypto-cyber-survivors/blob/8ef40473c7e108892df692695bac752633d4aed4/services/verification/VerificationQueue.ts#L42)

***

### reward?

> `optional` **reward**: `number`

Defined in: [services/verification/VerificationQueue.ts:43](https://github.com/blntunlan/crypto-cyber-survivors/blob/8ef40473c7e108892df692695bac752633d4aed4/services/verification/VerificationQueue.ts#L43)

***

### verifiedPnL?

> `optional` **verifiedPnL**: `number`

Defined in: [services/verification/VerificationQueue.ts:44](https://github.com/blntunlan/crypto-cyber-survivors/blob/8ef40473c7e108892df692695bac752633d4aed4/services/verification/VerificationQueue.ts#L44)

***

### method?

> `optional` **method**: `string`

Defined in: [services/verification/VerificationQueue.ts:45](https://github.com/blntunlan/crypto-cyber-survivors/blob/8ef40473c7e108892df692695bac752633d4aed4/services/verification/VerificationQueue.ts#L45)

***

### error?

> `optional` **error**: `string`

Defined in: [services/verification/VerificationQueue.ts:46](https://github.com/blntunlan/crypto-cyber-survivors/blob/8ef40473c7e108892df692695bac752633d4aed4/services/verification/VerificationQueue.ts#L46)
